<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>com.ge.med.uls.UserAuth.MainServlet</servlet-class>
		<init-param>
			<param-name>SERVLETS_HOME</param-name>
			<param-value>/modality-csd/servlets/MainServlet</param-value>
		</init-param>
		<init-param>
			<param-name>CL_A_HOME</param-name>
			<param-value>/modality-csd/servlets/myServlet</param-value>
		</init-param>
		<init-param>
			<param-name>CL_B_HOME</param-name>
			<param-value>/modality-csd/servlets/myServlet</param-value>
		</init-param>
		<init-param>
			<param-name>CL_C_HOME</param-name>
			<param-value>/modality-csd/servlets/myServlet</param-value>
		</init-param>
		<init-param>
			<param-name>CL_M_HOME</param-name>
			<param-value>/modality-csd/servlets/myServlet</param-value>
		</init-param>
		<init-param>
			<param-name>PWD_FILE</param-name>
			<param-value>%CATALINA_HOME%/webapps/modality-csd/usapps/resources/.passwd</param-value>
		</init-param>
		<init-param>
			<param-name>PWD_ADMIN_FILE</param-name>
			<param-value>%CATALINA_HOME%/webapps/modality-csd/usapps/resources/.adminPass</param-value>
		</init-param>
		<init-param>
			<param-name>ACCESS_LOG</param-name>
			<param-value>%CATALINA_HOME%/webapps/modality-csd/accessLog.txt</param-value>
		</init-param>
		<init-param>
			<param-name>BG_IMAGE</param-name>
			<param-value>/modality-csd/usimages/content_brnd.gif</param-value>
		</init-param>
		<init-param>
			<param-name>TABLE_BG_IMAGE</param-name>
			<param-value>/modality-csd/usimages/ctrl_bkrd.gif</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>LogViewerServlet</servlet-name>
		<servlet-class>com.ge.med.uls.LogViewer.LogViewerServlet</servlet-class>
		<init-param>
			<param-name>XSL-FILE</param-name>
			<param-value>%CATALINA_HOME%/webapps/modality-csd/usapps/resources/error.xsl</param-value>
		</init-param>
		<init-param>
			<param-name>RESOURCE-FILE</param-name>
			<param-value>%CATALINA_HOME%/webapps/modality-csd/usapps/resources/Resource_Object</param-value>
		</init-param>
		<init-param>
			<param-name>LOGFILE-ROOT</param-name>
			<param-value>%LogDir%</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>diagInit</servlet-name>
		<servlet-class>com.ge.med.uls.DiagExec.diagInit</servlet-class>
		<init-param>
			<param-name>LOGFILE-ROOT</param-name>
			<param-value>%LogDir%</param-value>
		</init-param>
		<init-param>
			<param-name>CATALINA_HOME</param-name>
			<param-value>%CATALINA_HOME%</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>diagExecute</servlet-name>
		<servlet-class>com.ge.med.uls.DiagExec.diagExecute</servlet-class>
		<init-param>
			<param-name>CATALINA_HOME</param-name>
			<param-value>%CATALINA_HOME%</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>diagAbort</servlet-name>
		<servlet-class>com.ge.med.uls.DiagExec.diagAbort</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>diagControl</servlet-name>
		<servlet-class>com.ge.med.uls.DiagExec.diagControl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>diagStatus</servlet-name>
		<servlet-class>com.ge.med.uls.DiagExec.diagStatus</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoteShutdownServlet</servlet-name>
		<servlet-class>com.ge.med.uls.Shutdown.RemoteShutdownServlet</servlet-class>
		<init-param>
			<param-name>INSITE_HOME</param-name>
			<param-value>%INSITE_HOME%</param-value>
		</init-param>
	</servlet>
	<servlet>
		<!--I do not think this one is used-->
		<servlet-name>ShutdownServlets</servlet-name>
		<servlet-class>com.ge.med.uls.Shutdown.RemoteShutdownServlet</servlet-class>
	</servlet>
	<servlet>
		<!--I do not think this one is used-->
		<servlet-name>MyNative</servlet-name>
		<servlet-class>com.ge.med.uls.Shutdown.MyNative</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DisrNonDisrProjServlet</servlet-name>
		<servlet-class>com.ge.med.uls.DisrNonDisrDll.DisrNonDisrProjServlet</servlet-class>
		<init-param>
			<param-name>INSITE_HOME</param-name>
			<param-value>%INSITE_HOME%</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>DisrNonDisrDll</servlet-name>
		<servlet-class>com.ge.med.uls.DisrNonDisrDll.DisrNonDisrDll</servlet-class>
	</servlet>
	<servlet>
		<!--This is used by L9 manufacturing-->
		<servlet-name>MfgDiagExecute</servlet-name>
		<servlet-class>com.ge.med.uls.Mfg.MfgDiagExecute</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServerProxyServlet</servlet-name>
		<servlet-class>ServerProxyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>rimi</servlet-name>
		<servlet-class>rimi</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/servlets/MainServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogViewerServlet</servlet-name>
		<url-pattern>/servlets/LogViewerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>diagInit</servlet-name>
		<url-pattern>/servlets/diagInit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>diagExecute</servlet-name>
		<url-pattern>/servlets/diagExecute</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>diagAbort</servlet-name>
		<url-pattern>/servlets/diagAbort</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>diagControl</servlet-name>
		<url-pattern>/servlets/diagControl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>diagStatus</servlet-name>
		<url-pattern>/servlets/diagStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoteShutdownServlet</servlet-name>
		<url-pattern>/servlets/RemoteShutdownServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShutdownServlets</servlet-name>
		<url-pattern>/servlets/ShutdownServlets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyNative</servlet-name>
		<url-pattern>/servlets/MyNative</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisrNonDisrProjServlet</servlet-name>
		<url-pattern>/servlets/DisrNonDisrProjServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisrNonDisrDll</servlet-name>
		<url-pattern>/servlets/DisrNonDisrDll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MfgDiagExecute</servlet-name>
		<url-pattern>/servlets/MfgDiagExecute</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServerProxyServlet</servlet-name>
		<url-pattern>/servlets/ServerProxyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rimi</servlet-name>
		<url-pattern>/servlets/rimi</url-pattern>
	</servlet-mapping>
	<display-name>Modality Service Desktop</display-name>
	<description>

      Service Desktop

    </description>
	<!-- Define servlets that are included in the example application -->
	<servlet>
		<servlet-name>SrvTreeServlet</servlet-name>
		<servlet-class>com.ge.med.csd.SrvTreeBuilder</servlet-class>
		<init-param>
			<param-name>CSD_HOME</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>CSD_HTDOCS</param-name>
			<param-value>modality-csd</param-value>
		</init-param>
		<init-param>
			<param-name>IMAGE_DIR</param-name>
			<param-value>images</param-value>
		</init-param>
		<init-param>
			<param-name>CACHE_DIR</param-name>
			<param-value>cache</param-value>
		</init-param>
		<init-param>
			<param-name>MENU_DIR</param-name>
			<param-value>xml</param-value>
		</init-param>
		<init-param>
			<param-name>SCRIPT_DIR</param-name>
			<param-value>java</param-value>
		</init-param>
		<init-param>
			<param-name>ACCESS_LEVEL_FILE</param-name>
			<param-value>csd.properties</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>LoggerServlet</servlet-name>
		<servlet-class>com.ge.med.csd.LoggerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SrvTreeServlet</servlet-name>
		<url-pattern>/servlet/SrvTreeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoggerServlet</servlet-name>
		<url-pattern>/servlets/com.ge.med.csd.LoggerServlet</url-pattern>
	</servlet-mapping>
</web-app>
