body {
	background: PageBackground;
}
ul.menu li {
	background: MenuBackground;
}
ul.menu li a {
	font-weight: MenuFontWeight; 
	font-size: MenuFontSize;
	font-family: MenuFontFamily; 
	color: MenuFontColor;
	border: 2px solid MenuBackground;
	border-left: MenuSeparatorBorderWidth MenuSeparatorBorderStyle MenuSeparatorBorderColor;
}
ul.menu li a.rfs {
	border-left: 1px solid MenuBackground;
}
ul.menu li a:hover, ul.menu li a:active {
	color: MenuFontColor;
	border: 2px outset MenuActiveTabBorderColor;
}
hr#oBaseLine {
	color: MenuBottomSeparator;
}